---
title: CEO Shadow takeaways from Barker
author: Lauren Barker
author_gitlab: laurenbarker
categories: unfiltered
description: GitLab is going places. We're a rocket ship heading to the moon.
image_title: /images/blogimages/barker.jpg
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

Hi there 🤓  My name is Lauren, but most refer to me as Barker, and I just completed the CEO Shadow program for GitLab. It's a two-week program where you step away from your normal role within GitLab and instead get a peek into [Sid's](https://about.gitlab.com/company/team/#sytses) daily life within GitLab. I'm going to let y'all know what the experience was like for me and some key takeaways I have. 

1. **I really like coding.** I like it so much... that when I'm not working with code in my daily routine it felt uncomfortable.  My entire role shift from a Full Stack Engineer to a CEO Shadow was hard for me at first. Shifting from working in Sublime and Terminal to Google Docs, calendars, and Zoom most of the day was uncomfortable. I didn't realize how much a creature of habit I had become in my safe space of code. I'm the master of my domain when it's just ruby, YML, HAML, and my beloved Sublime with terminal windows. I know, I'm old school in that setup, but hey, you like the tools you like. It's another instance of becoming too comfortable in my routine. The CEO shadow forced me out of my usual routine, to learn new processes, and adapt to how others work. At first, it was hard. By the second week, I started getting the hang of it. By the fourth week, I'd be really good at it 💪 *My First takeaway from the program is to try new things, especially when you've become comfortable in your routine.*  For example, it's probably time to finally try out [Visual Studio](https://code.visualstudio.com/). Another example is writing a recap of my experience instead of making a video because writing is inherently uncomfortable for me. Take me back to the code, please!
2.  **I finally understand how, where, and why the entire GitLab Direction section of the website is used.** I've been working on a [monorepo project](https://gitlab.com/groups/gitlab-com/-/epics/282) for the last year and one of the final pieces to figure out is whether the direction section (<https://about.gitlab.com/direction/>) goes with the handbook or the marketing site. The program didn't answer that question for me, that's a team conversation to have, but I honestly didn't have a good understanding of what, how, when, or why the section was used. I had the basics.... but not a clear understanding. Through the program I was able to experience how this part of the website is used with internal and external audiences by the E group. It's a powerful, transparent, and key part of the website. For example, [the maturity section](https://about.gitlab.com/direction/maturity/) is important in telling the story of where GitLab is going and how we are going to get there. I can't wait to take this information back to my team and ask the question - *"How can we leverage this information better in the marketing strategy for the website?"*  [Danielle](https://about.gitlab.com/company/team/#dmor) and [Michael's](https://about.gitlab.com/company/team/#mpreuss22) ears shoul be ringing once this post is published. 😜
3. Sids meeting subject jumps around sporadically throughout the day. But all discussions had common themes - **Sid treats everyone with compassion and respect**. Everyone can speak their opinion. He's transparent about everything with everyone. He *asks for* and  *gives* direct feedback throughout the day. He also has a clear vision for what GitLab is, where we're going, and how to empower a team to get there. He's a great leader and I'm proud to be part of this journey especially with a leader like Sid.  
4. **GitLab is going places**. We're a rocket ship heading to the moon. Git is a foundational pillar of the technological revolution, in my opinion. GitLab is enabling people from all over the world to build amazing things together. It is a foundational software platform for the next chapter of the digital revolution. Remember how email transformed the way people communicate in all industries across the globe? One day, in the near future, people will say remember the time before we had a DevOps platform to collaborate? And GitLab is and will continue to the best DevOps platfrom out there. We're unstoppable with a strong team and leader founded on GitLab [CREDIT values](https://about.gitlab.com/handbook/values/).

So to sum it up, the CEO Shadow program was an amazing learning and challenging experience for me. It challenged me to adapt, learn, grow professionally, and grow personally. It was empowering to realize that even if something is really hard at first, I can adapt quickly.  Wow.... just look at all these words I just wrote!!! I haven't done that since my senior project 10 years ago. 🏫

I'm so excited to return to my GitLab role and work with my [Digital Experience](https://about.gitlab.com/handbook/marketing/inbound-marketing/digital-experience/) team. I haven't been this excited about a [Monday sprint planning](https://about.gitlab.com/handbook/marketing/inbound-marketing/digital-experience/#sprint-planning) meeting ever!

We'll that's all I got for now. Hope you found something useful or funny about this post. Find me back in the [git log](https://gitlab.com/gitlab-com/www-gitlab-com/-/commits/master) and lurking around in my sweet creepy G10 van 😎



![Barker's G10 Chevy van with an OC1 on top](/images/blogimages/barkers_van.png "Barker's van")